.simulator-container {
    background-color: white;
    .step-container {
        display:flex;
        justify-content: center;
        background-color: #F6F2F1;
        height: 70px;
        position: fixed;
        width: 100%;
    }
    .main-container {
        display: flex;
        .preview-container {
          margin: 0 auto;
          margin-top: 100px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .simulator-container {
        background-color: #F4F4F4;
        .step-container {
            width: 500px;
            position: relative;
        }
    }
}