.simulator-container {
    background-color: white;
    font-family: 'Quicksand';
    position: relative;
    .step-container {
        display:flex;
        justify-content: center;
        background-color: #F6F2F1;
        height: 70px;
        position: fixed;
        width: 100%;
    }
    .main-container {
        display: flex;
        .preview-container {
          margin: 0 auto;
          margin-top: 100px;
        }
    }
}

.popUp__button {
    &_listeCouleurs {
        &_on {
            position: absolute;
            transform: translate(0%, -43%);
            background-color: rgba(0,0,0,0.4);
            //padding: 10%;
            text-align: -webkit-center;
            //top: 65%;
            width: 100vw;
            height: 85vh;
            left:0;
        }
        &_off{
            display:none;
        }
    }
    &_packages {
        &_on {
            position: absolute;
            transform: translate(0%, -150%);
        }
        &_off{
            display:none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .simulator-container {
        background-color: #F4F4F4;
        .step-container {
            width: 500px;
            position: relative;
        }
    }
}