.footer{ 
	background-color: #F6F2F1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
	overflow: hidden;
		&__link{
			display: flex;
			align-items: center;
            text-decoration: none;
               
			&__image{
				display: block;
				max-width: 40px;
				margin-right: 10px;
				margin-bottom: 10px;
				margin-top: 10px;
			}

			&__bec{
				color: #102643;
				font-size:15px;
				font-family: "Quicksand";
				font-weight: bold;
				margin: 0;
			}
		}
        }