.popupDetail {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* The actual popup */
.popupTextDetail {
    visibility: hidden;
    background-color: rgba(107, 107, 107,.7);
    border-radius: 6px;
    padding: 15px;
    left: 30%;
    position: relative;
    transform: translate(-50%, -50%);
    font-size: 16px;
    height: 200px;
    width: 310px;
    overflow-y: scroll;
    z-index: 5;
}

  /* Toggle this class - hide and show the popup */
.showDetail {
    visibility: visible;
    animation: fadeIn 1s;
    top: -250px;
    
}

.btn_detail{
    padding: 0;
    width: 140px;
    height: 40px;
    margin: 5px;
    margin-left: 20px;
    border: 2px solid #DDAD9F;
    border-radius: 40px;
    color: #DDAD9F;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Quicksand";
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    background: transparent;
    cursor: pointer;
}
.btn_detail:hover {
    background-color: #DDAD9F;
    color: #fff;
}

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
    }
    
    @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
    }
.images_detail{
    height: 50px;
    width: 50px;
}
.liste_detail{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    color: #0000;
    display: flex;
}
.detail_li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.text_detail{
    color:#FFFFFF;
    font-size: 20px;
}
.text_detail_close{
    position: relative;
    margin: 0;
    text-align: right;
    border-color: transparent;
    border-style: none;
    padding: 0;
    background-color: transparent;
    float: right;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
        .btn_detail {
            
            position: relative;
            
        }
        .popupTextDetail {
            left:60%;
        }
}