.popUp{
    display: flex;
    justify-content: center;
    bottom: 30px;
}
.popUp_btn {
    padding: 0;
    width: 140px;
    height: 40px;
    margin: 5px;
    border: 2px solid #DDAD9F;
    border-radius: 40px;
    color: #DDAD9F;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Quicksand";
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    background: transparent;
    cursor: pointer;
}
.popUp_btn:hover {
    background-color: #DDAD9F;
    color: #fff;
}

@media screen and (min-width: 1200px) {
    .popUp {
        width: calc(100vw - 500px);isplay: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px
    }
}

@media screen and (min-width: 670px) and (max-width:1200px) {
    .popUp {
        margin-left: 120px;
    }
}
