.popUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 30px;
}
.popUp_btn {
    padding: 0;
    width: 140px;
    height: 40px;
    margin: 5px;
    border: 2px solid #DDAD9F;
    border-radius: 40px;
    color: #DDAD9F;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Quicksand";
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    background: transparent;
    cursor: pointer;
}
.popUp_btn:hover {
    background-color: #DDAD9F;
    color: #fff;
}

.popUp_btn_div {
    display: flex;
}

@media screen and (min-width: 500px){
    .popUp{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .popUp_btn{
        &_mobile{
            display: none;
        }
    }
}
