.img1{
    width: 100%;
    height: auto;
}
.section_container{
    display: flex;
    flex-direction: column;
    margin: 2% 0%;
}
@mixin section_title($color, $margin, $position){
    color: $color;
    margin: 0px;
    position: relative;
    font-family: "MoonFlowerBold";
}
.section_title_text{
    font-size: 9vw;
    top: 4vw;
    z-index: 1;
}
.container_text_title{
    font-size: 24px;
}
.container_text_text{
    font-size: 16px;
}

@mixin container_text($color, $background-color){
    color: $color;
    background-color: $background-color;
    padding: 5% 5% 5% 2%;
    line-height: 2em;
    font-family: "Quicksand";
}
.section_title_1_text{
    @include section_title(#DDAD9F, 0px, relative)
}
.container_text_1{
    @include container_text(#102643, #F6F2F1);
}
.section_title_2_text{
    @include section_title(#BB5E51, 0px, relative)
}
.container_text_2{
    @include container_text(#102643, #DDAD9F);
}
.section_title_3_text{
    @include section_title(#A1B2B0, 0px, relative)
}
.container_text_3{
    @include container_text(#102643, #CFE3E1);
}

@media screen and (min-width: 500px) {
    .container_text_1{
        margin: 0% 5% 5% 0%;
    }
    .container_text_2{
        margin: 0% 5% 5% 0%;
    }
    .container_text_3{
        margin: 0% 5% 5% 0%;
    }
    .img1{
        padding: 5% 5% 5% 5%;
        width: 100%;
        height: auto;
    }
  }

@media screen and (min-width: 800px) {
   .container_text_1{
        margin: 0%;
   }
    .container_text_2{
        margin: 0%;
    }
    .container_text_3{
        margin: 0%;
    }
    .container-flex{
        display: flex;
        flex-direction: row;
    }
    .img1{
        width: 50%;
        height: 35%;
        margin-bottom: auto;
        margin-top: auto;
        padding: 5% 0% 5% 10%;
    }
    .container-flex_2{
        display: flex;
        flex-direction: row-reverse;
    }
   
    .container_text_2{
        margin: 0% 0% 10% 0%;
    }
    .img2{
        padding: 0% 10% 0% 0%;
        margin-bottom: auto;
        margin-top: auto;
    }
    .section_title_2_text{
        text-align: right;
    }
    /*.container_text_title{
        font-size: 24px;
    }
    .container_text_text{
        font-size: 20px;
    }*/
  }