
.background{
    background: linear-gradient(to bottom, transparent 0%, white 100%), url('../../assets/images/Fond1.png'); 
    background-size: cover;
    height:100vh ;
    overflow: hidden;
    &__text{
        font-family: "MoonFlowerBold";
        font-size: 17px;
        font-weight: bold;
        color: #102643;
        display: flex;
        justify-content: space-between;
        background-color: #CFE3E1;
        transform: rotate(10deg);
        position: relative;
        top: 25%;
        width: 104vw;
        box-sizing: border-box;
        margin-left: -2vw;
        &__p{
            margin: 5%;
        }
        &__image{
            width:30%;
            position: absolute;
            left:39%;
            top: -50%;
        }
    }
}
.container2{
    height:50vh;
    text-align: center;
    &__image{
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .background{
        &__text{
            transform: rotate(-10deg);
            top: 35%;
            font-size: 27px;
            &__image{
                width:25%;
                left:38%;
                top: -44%;
            }
        }
    }
    .container2{
        &__image{
            width:80%;
        }
    }
}
@media screen and (min-width: 1000px) {
    .background{
        &__text{
            font-size: 45px;
            &__image{
                top: -40;
            }
        }
    }
    .container2{
        &__image{
            width:60%;
        }
    }
}

@media screen and (min-width: 1445px) {
    .container__fond{
        &__text{
            &__image{
                width:400px;
            }
        }
    }
}
