.logo1{
    width: 20%;
    left: 40%;
    position: absolute;
    top:-9vw;
    z-index: 1;
}
.text{
    display: flex;
    justify-content: space-between;
    background-color: #CFE3E1;
    padding: 0% 2%;
    font-family: "MoonFlowerBold";
    font-size: 20px;
    font-weight: bold;
    color: #102643;
    position: relative;
    top: 90%;
    &_p{
        margin: 0;
        padding: 1% 0%;
    }
}
.fond{
    background-image: url('../../assets/images/Fond2.png');
    background-size: cover;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 25%;
}
.logo2{
    display: none;
}

@media screen and (min-width: 500px) {
    .logo2{
        display: block;
        width: 40%;
        left: 29%;
        top:29%;
        position: fixed;
    }
}

@media screen and (min-width: 800px) {
    .logo2{
        display: block;
        top:35%;
        position: fixed;
    }
    .text{
        font-size: 28px;
        padding: 0% 5%;
        letter-spacing: 3px;
    }
}
