.logo1{
    height: 25%;
    width: 25%;
    top:10vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 40%;
}
.text{
    display: flex;
    justify-content: space-between;
    background-color: #CFE3E1;
    padding: 0% 2%;
    font-family: "MoonFlowerBold";
    font-size: 15px;
    font-weight: bold;
    color: #102643;
    position: relative;
    top: 20vh;
    &_p{
        margin: 0;
        padding: 1% 0%;
    }
}
.fond{
    background-image: url('../../assets/images/Fond2.png');
    background-size: cover;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 20vh;
}
.logo2{
    display:none;
}

@media screen and (min-width: 500px) {
    .logo1{
        top:0px;
        height:20%;
        width:20%;
    } 
}

@media screen and (min-width: 800px) {
    .logo1{
        top:0px;
        height:15%;
        width:15%;
    }
    .text{
        font-size: 30px;
    }
}
