.left-container {
    display: none;
    .bold-item {
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 2px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 720px) {
    .left-container {
        background-color: white;
        width: 500px;
        max-height: 100vh;
        height: calc(100vh - 70px);
        overflow-y: scroll;
        z-index: 0;
        display: block;
    }
}