.next {
    height: 100%;
    width: 100%;
    background-color: #102643;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 70px;
    .arrow {
        height: 40px
    }
}