.images{
    height: 80px;
    width: 80px;
}
.container_liste{
    width: 365px;
    height: 248px;
    border-color: #F5F5F5;
    border-style: solid;
    border-width: 30px 30px;
    padding: 0px;
    margin: 0px;
}
.scroll_liste {
    height: 248px;
    overflow: auto;
}
.scroll_liste_details::-webkit-scrollbar {
    width: 15px;
    &-thumb {
    background: #102643;
    border-radius: 5px 5px;
    }&-track {
    background: #FFFFFF;
    }
}
  .liste{
    padding: 0px;
    margin: 0px;
    border-color: #F5F5F5;
    border-style: solid;
    border-width: 0px 30px 0px 0px;
    overflow: -webkit-paged-y;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
